<a href="https://colab.research.google.com/github/rsshan5388/assignmentchirag/blob/main/Copy_of_Python_Programming_Basics_Colab_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ============================
# 1. Variables in Python
# ============================

# Variables are used to store data. In Python, you don't need to declare a variable type explicitly.

In [ ]:
x = 5  # Integer Variable
y = 10.5  # Float Variable
z = "Hello, Python!"  # String Variable
is_python_fun = True  # Boolean Variable

# Printing the values and their types
print("x:", x, "Type:", type(x))
print("y:", y, "Type:", type(y))
print("z:", z, "Type:", type(z))
print("is_python_fun:", is_python_fun, "Type:", type(is_python_fun))

x: 5 Type: <class 'int'>
y: 10.5 Type: <class 'float'>
z: Hello, Python! Type: <class 'str'>
is_python_fun: True Type: <class 'bool'>

# ============================
# 2. Data Types and Operations
# ============================

# ----------------------------
# Integers and Floats
# ----------------------------

In [ ]:
a = 10
b = 3.5

In [ ]:
# Basic Arithmetic Operations
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)  # Rounds down
print("Modulus:", a % b)  # Remainder
print("Exponentiation:", a ** 2)  # a squared

Addition: 13.5
Subtraction: 6.5
Multiplication: 35.0
Division: 2.857142857142857
Floor Division: 2.0
Modulus: 3.0
Exponentiation: 100

# ----------------------------
# Strings and String Operations
# ----------------------------

In [ ]:
string = "Python Programming"
print("Upper Case:", string.upper())
print("Lower Case:", string.lower())
print("Title Case:", string.title())
print("Replace:", string.replace("Python", "Advanced Python"))
print("Split:", string.split())
print("Concatenation:", string + " is fun!")
print("Repetition:", string * 2)

Upper Case: PYTHON PROGRAMMING
Lower Case: python programming
Title Case: Python Programming
Replace: Advanced Python Programming
Split: ['Python', 'Programming']
Concatenation: Python Programming is fun!
Repetition: Python ProgrammingPython Programming

# ============================
# 3. Data Structures in Python
# ============================

# ----------------------------
# Lists and its Operations
# ----------------------------

In [ ]:
my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)
my_list.append(6)  # Add an element
print("After Append:", my_list)
my_list.remove(3)  # Remove an element
print("After Remove:", my_list)
my_list.insert(2, 99)  # Insert at index 2
print("After Insert:", my_list)
my_list.sort()  # Sorting the list
print("Sorted List:", my_list)

Original List: [1, 2, 3, 4, 5]
After Append: [1, 2, 3, 4, 5, 6]
After Remove: [1, 2, 4, 5, 6]
After Insert: [1, 2, 99, 4, 5, 6]
Sorted List: [1, 2, 4, 5, 6, 99]

# ----------------------------
# Tuples and its Operations (Immutable)
# ----------------------------

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
print("Tuple Elements:", my_tuple)
print("Accessing Element:", my_tuple[2])  # Indexing

Tuple Elements: (10, 20, 30, 40, 50)
Accessing Element: 30

In [ ]:
# Error : when you try to use Tuple as Mutable Data Structure

In [ ]:
my_tuple[2] = 300

TypeError: 'tuple' object does not support item assignment

# ----------------------------
# Sets and its Operations (Unique Elements)
# ----------------------------

In [ ]:
my_set = {1, 2, 3, 4, 5}
print("Original Set:", my_set)
my_set.add(6)  # Add an element
print("After Add:", my_set)
my_set.remove(2)  # Remove an element
print("After Remove:", my_set)

Original Set: {1, 2, 3, 4, 5}
After Add: {1, 2, 3, 4, 5, 6}
After Remove: {1, 3, 4, 5, 6}

In [ ]:
# No Duplicates

In [ ]:
my_set_dup = {1, 2, 3, 4, 5, 1, 2}

In [ ]:
my_set_dup

{1, 2, 3, 4, 5}

# ----------------------------
# Dictionary and its Operations (Key-Value Pairs)
# ----------------------------

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print("Dictionary:", my_dict)
my_dict["age"] = 26  # Modifying a value
print("Updated Dictionary:", my_dict)
my_dict["country"] = "USA"  # Adding a new key-value pair
print("Dictionary After Adding:", my_dict)

Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}
Updated Dictionary: {'name': 'Alice', 'age': 26, 'city': 'New York'}
Dictionary After Adding: {'name': 'Alice', 'age': 26, 'city': 'New York', 'country': 'USA'}

# ============================
# 4. Conditional Statements
# ============================

In [ ]:
num = 10
if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Positive number

In [ ]:
# Checking Even or Odd
def check_even_odd(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"
print("Number 7 is:", check_even_odd(7))

Number 7 is: Odd

# ============================
# 5. Loops in Python
# ============================

In [ ]:
# For Loop
print("For Loop Example:")
for i in range(1, 6):
    print(i)

For Loop Example:
1
2
3
4
5

In [ ]:
# While Loop
print("While Loop Example:")
count = 0
while count < 5:
    print(count)
    count += 1

While Loop Example:
0
1
2
3
4

# ============================
# 6. User-Defined Functions
# ============================

In [ ]:
def greet(name):
    """Function to greet a person"""
    return "Hello, " + name + "!"
print(greet("Alice"))

Hello, Alice!

In [ ]:
# Function with Default Parameters
def power(base, exp=2):
    return base ** exp
print("Power Function Example:", power(3))

Power Function Example: 9

# ============================
# 7. Lambda Functions
# ============================

In [ ]:
# Lambda Function for Squaring
times_two = lambda x: x * 2
print("Lambda Function Output:", times_two(5))

Lambda Function Output: 10

In [ ]:
# Lambda Function with Multiple Arguments
sum_numbers = lambda a, b: a + b
print("Sum Using Lambda:", sum_numbers(3, 7))

Sum Using Lambda: 10

# ============================
# 8. String Operations
# ============================

In [ ]:
message = "Python is powerful and easy to learn."
print("Length of String:", len(message))
print("Substring Check:", "powerful" in message)
print("String Slice:", message[7:16])
print("String Reverse:", message[::-1])

Length of String: 37
Substring Check: True
String Slice: is powerf
String Reverse: .nrael ot ysae dna lufrewop si nohtyP