<a href="https://colab.research.google.com/github/rsshan5388/assignmentchirag/blob/main/pythonprogrammingbasicsassignmentrsudarshan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 """
 Question 1
 Use print() and input() functions.
 Assign values to variables and explore different data types.
"""
x = 5
y = 10.5
z = "Hello, Python!"
is_python_fun = True
#Printing the values and their types
print("x:", x, "Type:", type(x))
print("y:", y, "Type:", type(y))
print("z:", z, "Type:", type(z))
print("is_python_fun:", is_python_fun, "Type:", type(is_python_fun))

x: 5 Type: <class 'int'>
y: 10.5 Type: <class 'float'>
z: Hello, Python! Type: <class 'str'>
is_python_fun: True Type: <class 'bool'>

In [ ]:
"""
Question 2
Create a list and perform basic operations like append(), remove(), pop(), and slicing.
Iterate over a list using loops.
"""
# Creating a list
my_list = [10, 20, 30, 40, 50]
print("Original List:", my_list)

# Append an element to the list
my_list.append(60)
print("After append:", my_list)

# Remove an element from the list
my_list.remove(30)  # Removes the first occurrence of 30
print("After remove:", my_list)

# Pop an element (removes and returns the last element by default)
popped_element = my_list.pop()
print("Popped Element:", popped_element)
print("After pop:", my_list)

# Slicing a list (Extracting sublists)
sliced_list = my_list[1:4]  # Extracts elements from index 1 to 3 (4 is excluded)
print("Sliced List:", sliced_list)

# Iterating over a list using a for loop
print("Iterating using for loop:")
for item in my_list:
    print(item)

# Iterating using a while loop
print("Iterating using while loop:")
i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1

Original List: [10, 20, 30, 40, 50]
After append: [10, 20, 30, 40, 50, 60]
After remove: [10, 20, 40, 50, 60]
Popped Element: 60
After pop: [10, 20, 40, 50]
Sliced List: [20, 40, 50]
Iterating using for loop:
10
20
40
50
Iterating using while loop:
10
20
40
50

In [ ]:
"""
Question 3. Tuple Operations:
 Create and access tuple elements.
 Understand the immutability of tuples.
 Use tuple unpacking.
"""
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)
print("Original Tuple:", my_tuple)

# Accessing tuple elements
print("First Element:", my_tuple[0])
print("Last Element:", my_tuple[-1])

# Attempting to modify a tuple (Demonstrating immutability)
try:
    my_tuple[1] = 100  # This will raise an error
except TypeError as e:
    print("Error:", e)

# Tuple unpacking
a, b, c, d, e = my_tuple
print("Unpacked Values:", a, b, c, d, e)

# Swapping values using tuple unpacking
x, y = 5, 10
x, y = y, x  # Swaps the values
print("Swapped Values:", x, y)

Original Tuple: (10, 20, 30, 40, 50)
First Element: 10
Last Element: 50
Error: 'tuple' object does not support item assignment
Unpacked Values: 10 20 30 40 50
Swapped Values: 10 5

In [ ]:
"""
4. Dictionary Operations:
 Create a dictionary with key-value pairs.
 Perform operations like adding, updating, and deleting key-value pairs.
 Iterate through a dictionary using loops
"""
# Creating a dictionary
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print("Original Dictionary:", my_dict)

# Adding a new key-value pair
my_dict["profession"] = "Engineer"
print("After Adding:", my_dict)

# Updating an existing key
my_dict["age"] = 26
print("After Updating Age:", my_dict)

# Deleting a key-value pair
del my_dict["city"]
print("After Deleting 'city':", my_dict)

# Using pop() to remove and return a value
removed_value = my_dict.pop("profession")
print("Removed Profession:", removed_value)
print("After pop operation:", my_dict)

# Iterating through a dictionary
print("Iterating through keys and values:")
for key, value in my_dict.items():
    print(f"{key}: {value}")

Original Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}
After Adding: {'name': 'Alice', 'age': 25, 'city': 'New York', 'profession': 'Engineer'}
After Updating Age: {'name': 'Alice', 'age': 26, 'city': 'New York', 'profession': 'Engineer'}
After Deleting 'city': {'name': 'Alice', 'age': 26, 'profession': 'Engineer'}
Removed Profession: Engineer
After pop operation: {'name': 'Alice', 'age': 26}
Iterating through keys and values:
name: Alice
age: 26

In [ ]:
"""
5. Set Operations:
Create a set and perform operations like union, intersection, and difference.
Understand the uniqueness property of sets.
"""
# Creating a set (sets store only unique elements)
my_set = {1, 2, 3, 4, 5, 5, 3}  # Duplicate values are automatically removed
print("Original Set:", my_set)  # Output: {1, 2, 3, 4, 5}

# Another set for performing operations
another_set = {4, 5, 6, 7, 8}

# Union of sets (combines elements from both sets, removing duplicates)
union_set = my_set.union(another_set)
print("Union:", union_set)  # Output: {1, 2, 3, 4, 5, 6, 7, 8}

# Intersection of sets (common elements in both sets)
intersection_set = my_set.intersection(another_set)
print("Intersection:", intersection_set)  # Output: {4, 5}

# Difference of sets (elements in my_set but not in another_set)
difference_set = my_set.difference(another_set)
print("Difference:", difference_set)  # Output: {1, 2, 3}

# Adding an element to a set
my_set.add(10)
print("After Adding 10:", my_set)

# Removing an element
my_set.remove(2)  # Throws an error if element is not found
print("After Removing 2:", my_set)

# Using discard (removes element if it exists, but does not throw an error)
my_set.discard(20)  # No error if 20 is not found
print("After Discarding 20 (non-existent element):", my_set)

Original Set: {1, 2, 3, 4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}
After Adding 10: {1, 2, 3, 4, 5, 10}
After Removing 2: {1, 3, 4, 5, 10}
After Discarding 20 (non-existent element): {1, 3, 4, 5, 10}

In [ ]:
"""
6. Conditional Statements:
Implement if-else conditions for decision-making.
Use nested if-else conditions for complex logic.
 """
 # Check if a number is positive, negative, or zero
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 24
The number is positive.

In [ ]:
# Checking eligibility for voting
#nested if
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")

    if age >= 60:
        print("You are a senior citizen voter.")
    else:
        print("You are an adult voter.")
else:
    print("You are not eligible to vote.")

Enter your age: 57
You are eligible to vote.
You are an adult voter.

In [ ]:
# Check if a year is a leap year
#Multiple if
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 1998
1998 is not a leap year.

In [ ]:
"""7. Looping Constructs:
 Use for loops to iterate over lists, tuples, and dictionaries.
 Use while loops for repeating tasks.
 Implement break and continue statements to control loops.
"""
# Iterating over a list
my_list = [10, 20, 30, 40, 50]
print("Iterating over a list:")
for num in my_list:
    print(num)

# Iterating over a tuple
my_tuple = ("apple", "banana", "cherry")
print("\nIterating over a tuple:")
for fruit in my_tuple:
    print(fruit)

# Iterating over a dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print("\nIterating over a dictionary (keys and values):")
for key, value in my_dict.items():
    print(f"{key}: {value}")

Iterating over a list:
10
20
30
40
50

Iterating over a tuple:
apple
banana
cherry

Iterating over a dictionary (keys and values):
name: Alice
age: 25
city: New York

In [ ]:
# Using while loop to print numbers from 1 to 5
print("\nUsing while loop:")
i = 1
while i <= 5:
    print(i)
    i += 1

Using while loop:
1
2
3
4
5

In [ ]:
# Using break to stop the loop when number 30 is found
print("\nUsing break statement:")
for num in my_list:
    if num == 30:
        print("Found 30, stopping loop.")
        break
    print(num)

# Using continue to skip number 30 and continue the loop
print("\nUsing continue statement:")
for num in my_list:
    if num == 30:
        print("Skipping 30.")
        continue
    print(num)

Using break statement:
10
20
Found 30, stopping loop.

Using continue statement:
10
20
Skipping 30.
40
50

In [ ]:
"""
8. Problem-Solving Tasks:
 Write a Python program to find the largest number in a list.
 Write a Python program to count the frequency of elements in a list.
 Create a dictionary that stores student names as keys and marks as values, then find
the student with the highest marks.
 Implement a while loop to print the Fibonacci series up to a given number.
 Use a set to remove duplicate elements from a list.
"""
def find_largest(lst):
    return max(lst)  # Using max() to find the largest number

numbers = [10, 25, 36, 78, 55, 89, 102, 7]
print("Largest number:", find_largest(numbers))

Largest number: 102

In [ ]:
from collections import Counter
def count_frequency(lst):
    return dict(Counter(lst))  # Converts Counter object to dictionary

In [ ]:
students = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

# Finding the student with the highest marks
top_student = max(students, key=students.get)
print(f"Top student: {top_student} with marks {students[top_student]}")

Top student: David with marks 95

In [ ]:
def fibonacci_series(limit):
    a, b = 0, 1
    while a <= limit:
        print(a, end=" ")
        a, b = b, a + b  # Updating values for next Fibonacci number

num = int(input("Enter a number for Fibonacci series: "))
print("Fibonacci Series:")
fibonacci_series(num)

Enter a number for Fibonacci series: 10
Fibonacci Series:
0 1 1 2 3 5 8

In [ ]:
def remove_duplicates(lst):
    return list(set(lst))  # Convert list to set and back to list

numbers = [1, 2, 3, 2, 4, 5, 1, 2, 3, 6, 4, 4, 5]
print("List without duplicates:", remove_duplicates(numbers))

List without duplicates: [1, 2, 3, 4, 5, 6]